@require '~styles/variables.styl'

.list-box
  background-color $c-white
  border-radius $d-border-radius
  margin 0 $d-modules-v-padding $d-modules-margin-bottom
  padding 10px 16px

  &__header
    border-bottom 1px solid $c-background
    color $c-text
    font-size 1.5em
    font-family $t-font-text
    font-weight 600
    margin-bottom 11px
    padding-bottom 2px

 
.list-box__item
  display flex
  font-family $t-font-text
  margin-bottom 13px

  &__left
    border-right 1px solid $c-background
    display inline-block
    font-weight 500
    min-width 54px
    padding 4px 6px 0 
    text-align right

  &__right
    border-bottom 1px solid $c-background
    flex-grow 1
    display inline-block 
    margin-left 7px
    padding 4px 0
