// DIMENSIONS
$d-header-height = 13vw
$d-footer-height = 80px
$d-recipe-header-margins = 0.5em

$d-modules-v-padding = 1.8vw
$d-modules-margin-bottom = 1.5rem

$d-border-radius = 4px

// COLORS
$c-accent = #b8e986
$c-mean-gray = #d4d4d4
$c-light-gray = #e8e8e8
$c-dark-gray = #929292
$c-background = #f1f1f1
$c-white = #fff
// $c-light-grey = #ccc
$c-text = #444

// Typography
$t-font-headline = 'Telefon Bold'
$t-font-text = 'Yrsa'
$t-line-height = 1.4

// LAYERS
$l-standard = 1

