@require '~styles/variables.styl'
@require '~styles/shared.styl'

.root
  @extend .list-box__item

.number
  @extend .list-box__item__left
  border-right none
  color $c-white
  font-family 'Telefon Black'
  font-size 2.25rem
  line-height 1 

.description
  @extend .list-box__item__right
