@require '~styles/variables.styl'

.header
  align-items center
  background linear-gradient(#333, transparent)
  display flex
  height $d-header-height 
  justify-content center
  position relative
  width 100%
  z-index $l-standard
  

.logo
  svg 
    height 10vw
    width 10vw
  
  rect
    stroke #fff

  path
    fill #fff
