// @require '~styles/variables.styl'

// .container
//   display inline-block
//   position relative

// .svg
//   transform rotate(270deg)

// .background, .cover, .center
//   stroke-width 2em
//   fill transparent 

// .background
//   stroke $c-accent

// .cover
//   stroke  #DEDEDE
//   stroke-width  2.01em
//   border  12px solid red

// .center
//   fill $c-background  

// .title
//   left 0
//   right 0
//   position absolute
//   text-align center
//   top 30px

// .label
//   font-weight bold
//   left 0
//   right 0
//   position absolute
//   text-align center
//   top 50px
