@require './styles/variables.styl'
@require './styles/reset.styl'
@require './styles/typography.styl'

::selection {
  background-color $c-accent
  color $c-white
}

html {
  -webkit-tap-highlight-color $c-accent
}
