@require '~styles/variables.styl'

.root
  display flex
  margin 0 $d-modules-v-padding
  padding 10px 16px

.icon
  min-width 54px
  padding 4px 6px 0 
  text-align right
  
  svg
    margin-right -4px
    width 34px
  rect, path
    fill $c-dark-gray
    
.calories
  font-family $t-font-text
  margin-left 7px
  padding 6px 0 4px
