@require '~styles/variables.styl'

.root
  display flex
  font-family $t-font-text
  margin-bottom 13px

.amount
  border-right 1px solid $c-background
  display inline-block
  font-weight 500
  min-width 54px
  padding 4px 6px 0 
  text-align right

.label
  border-bottom 1px solid $c-background
  flex-grow 1
  display inline-block 
  margin-left 7px
  padding 4px 0
