@require '~styles/variables.styl'

.recipe-header
  position relative

.meta
  background linear-gradient(to top, #333, transparent)
  bottom 0
  color $c-white
  text-align center
  position absolute
  padding 2vh 2%
  width 100vw 

.subtitle
  color: $c-light-grey

.title
  margin 0
